In [1]:
import pandas as pd
import sys
import numpy as np
sys.path.append("../helper_functions")
import defillama_utils as dfl
import duneapi_utils as du
sys.path.pop()

'../helper_functions'

In [2]:
chains = [
    #L2s
    'Optimism'
    ,'Base'
    ,'Arbitrum'
    #non-dune L2s
    ,'ZkSync Era'
    ,'Polygon zkEVM'
    #L1
    ,'Ethereum'
    #Others
    ,'Fantom'
    ,'Avalanche'
    ,'Gnosis' 
    ,'Celo' 
    ,'Polygon'
    ,'BSC'
]

In [3]:
c_agg = []
for c in chains:
        d = dfl.get_historical_chain_tvl(c)
        d['chain'] = c
        c_agg.append(d)

df = pd.concat(c_agg)
# Rename
df.loc[df['chain'] == 'Optimism', 'chain'] = 'OP Mainnet'
df.loc[df['chain'] == 'BSC', 'chain'] = 'BNB'

display(df)

print(df['chain'].unique())

           date           tvl       chain
0    2021-07-14  6.835396e+07  OP Mainnet
1    2021-07-15  6.282955e+07  OP Mainnet
2    2021-07-16  5.872631e+07  OP Mainnet
3    2021-07-17  5.783978e+07  OP Mainnet
4    2021-07-18  5.816903e+07  OP Mainnet
...         ...           ...         ...
1041 2023-09-07  2.907576e+09         BNB
1042 2023-09-08  2.937156e+09         BNB
1043 2023-09-09  2.900473e+09         BNB
1044 2023-09-10  2.888852e+09         BNB
1045 2023-09-11  2.787660e+09         BNB

[10295 rows x 3 columns]

['OP Mainnet' 'Base' 'Arbitrum' 'ZkSync Era' 'Polygon zkEVM' 'Ethereum'
 'Fantom' 'Avalanche' 'Gnosis' 'Celo' 'Polygon' 'BNB']

In [4]:
# Write to Dune
du.write_dune_api_from_pandas(df, 'dfl_chain_tvl',\
                             'TVL for select chains from DefiLlama')

table at: dune_upload.dfl_chain_tvl
Response status code: 200
Response content: b'{"success":true}'