In [19]:
import requests as r
import pandas as pd

import sys
sys.path.append("../helper_functions")
import duneapi_utils as d
import metabaseapi_utils as mb
sys.path.pop()

import os
import dotenv

dotenv.load_dotenv()
mb_name = os.environ["MS_METABASE_NAME"]
mb_pw = os.environ["MS_METABASE_PW"]

mb_url_base = "https://dash.goldsky.com"

# https://goldsky.notion.site/SHARED-Lightweight-API-Documentation-for-Goldsky-Dashboarding-5cde15ba222844f485c31a4426f6ed53

In [20]:
# Map Chain Names
chain_mappings = {
    'zora': 'Zora Network',
    'pgn': 'Public Goods Network',
    # Add more mappings as needed
}

In [21]:
try: #do you already have a session
        session_id = os.environ["MS_METABASE_SESSION_ID"]
except: #if not, make one
        print('creating new session')
        session_id = mb.get_mb_session_key(mb_url_base,mb_name,mb_pw)
# print(session_id)

In [22]:
# Run Query

#https://dash.goldsky.com/question/20-get-kr1-active-developers
resp = mb.get_mb_query_response(mb_url_base, session_id, 20)
# print(resp)

In [23]:
data_df = pd.DataFrame(resp)

data_df['chain'] = data_df['chain'].replace(chain_mappings)

print(data_df.columns)

display(data_df.sample(5))

Index(['chain', 'chain_type', 'dt', 'creator_address', 'num_contracts',
       'num_eoa_deployed_contracts', 'num_create2_deployed_contracts',
       'num_aa_deployed_contracts'],
      dtype='object')

,chain,chain_type,dt,creator_address,num_contracts,num_eoa_deployed_contracts,num_create2_deployed_contracts,num_aa_deployed_contracts
102,Zora Network,mainnet,2023-08-04,0xc0ffee78121f208475abdd2cf0853a7afed64749,6,6,6,0
142,Zora Network,mainnet,2023-06-17,0x86dd2b0164996a646a4e12faca420bd1a24df6c4,1,1,0,0
88,Zora Network,mainnet,2023-07-06,0x86d26897267711ea4b173c8c124a0a73612001da,6,6,6,0
58,Zora Network,mainnet,2023-08-18,0x33c58f1c8a6d6c50cd2e0aac4aafd0a3d609fc6f,1,1,1,0
72,Zora Network,mainnet,2023-08-28,0x3d6a34d8ece4640adff2f38a5bd801e51b07e49c,1,1,0,0

In [24]:
# Post to Dune API
d.write_dune_api_from_pandas(data_df, 'opchain_active_dev_creators_gs',\
                             'Basic Active Developer Methodology for Zora & PGN (from Goldsky)')

table at: dune_upload.opchain_active_dev_creators_gs
Response status code: 200
Response content: b'{"success":true}'